/* Header.css */
.header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

.nav-item {
  font-size: 18px;
}

/* Style for navigation links */
.nav-item a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: #ff6600; /* Change to your desired hover color */
}
