.grid-container {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Adjust the number of columns as needed */
  gap: 2px;
  margin: 10px auto;
  max-width: 100px;
}

/* Product styles */
.product {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

.product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.product-price {
  color: green;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Adjust columns for smaller screens */
  }
}
